@using Cafe.Domain
@model Ingridient
@{
    ViewData["Title"] = "Ingridient update";
}
@using (Html.BeginForm("UpdateView", "Ingridients", FormMethod.Post, new { id="updateForm"}))
{
    <h3>Ingridient update</h3>
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" value="@Model.Name" required/>
    </p>
    <p>
        <input type="submit" value="Update">
    </p>
}

<script>
    $("#updateForm").validate({
        rules:{
            Name: {
                required: true
            }
        },
        messages: {
            Name: "<h5 class=\"text-danger\">Enter name</h5>"
        }
    })
</script>