@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is cafe application, you can see the menu and make an order above.</p>
</div>
