@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<IdentityUser>
@{
    ViewBag.Title = "User list";
}

<table class="table">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        @if(!(await UserManager.GetRolesAsync(user)).Contains("host"))
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">Change</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>