@{
    ViewData["Title"] = "Provider create";
}
@using (Html.BeginForm("Create", "Providers", FormMethod.Post, new { id="addForm"}))
{
        <h3>New provider adding</h3>
        <p>
            <label>Name</label><br />
            <input type="text" name="Name" required />
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
}

<script>
    $("#addForm").validate({
        rules:{
            Name: {
                required: true
            }
        },
        messages: {
            Name: "<h5 class=\"text-danger\">Enter name</h5>"
        }
    })
</script>